.bg-grey {
    background-color: $grey;
}

.text-prewrap {
    white-space: pre-wrap;
    line-height: 2rem;
}

.text-title:first-letter {
    text-transform: capitalize;
}

.pointer {
    cursor: pointer;
}

.required::after {
    content: "*";
    color: $red;
    padding: 0 0.3rem;
}

.skew-up,
.skew-down {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 101%;
    height: 101%;
    transform-origin: bottom right;
}
.skew-up {
    transform: skewY(-5deg);
}
.skew-down {
    transform: skewY(5deg);
}
