.bg-grey {
    background-color: $grey;
}

.text-prewrap {
    white-space: pre-wrap;
    line-height: 2rem;
}

.text-title:first-letter {
    text-transform: capitalize;
}

.pointer {
    cursor: pointer;
}

.required::after {
    content: "*";
    color: $red;
    padding: 0 0.3rem;
}

.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 102%;
    height: 100%;
    transform: skewY(6deg);
    transform-origin: bottom right;
}
